---
layout: default
---

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p><span class="post-author">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span> 
    	发布于<time class="post-time" datetime="{{ page.date | date: "%Y-%m-%d" }}">{% if page.custom_date %}{{ page.custom_date }}{% else %}{{ page.date | date: "%Y/%m/%d" }}{% endif %} </time> 
    	<span class="post-categories">分类 : <a href="{{ site.baseurl }}/categories/{{ page.categories}}.html">{{ page.categories }}</a></span></p>
  </header>
  <div class="post-content">
  	{{ content }}
  </div>
</article>


<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl }}"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"4nix"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
