---
layout: default
---

<div class="slider">
  <div class="slider-ele">
    <div class="slider-img">
      <img src="images/slider-1.jpg" alt="">
    </div>
    <div class="slider-msg">
      如果你生气了, 就欺负我好了<br>
      反正我那么喜欢你
    </div>
  </div>

  <div class="slider-ele">
    <div class="slider-img">
      <img src="images/slider-2.jpg" alt="">
    </div>
    <div class="slider-msg">
      希望你们能用功读书<br>
      不要像我只能靠脸混吃混喝
    </div>
  </div>

  <div class="slider-ele">
    <div class="slider-img">
      <img src="images/slider-3.jpg" alt="">
    </div>
    <div class="slider-msg">
      世界上最重要的技术，是为你服务
    </div>
  </div>

</div>


<div class="row row-intro">
  <div class="cols-sm-3 poem">
    <h1>陋博铭</h1>
    <p>天不在广, 有光就行
    <p>地不在多, 有位就停
    <p>虽是陋博, 确为心沥
    <p>鸡鸣上工地, 狗眠方归寝
    <p>扯淡有基友, 往来俱穷丁
    <p>可以调戏我, 搅基情
    <p>无弹窗之扰民, 无广告之乱形
    <p>南阳诸葛庐，西蜀子云亭
    <p>孔子曰: 丑怎么了?
  </div>
  <div class="cols-sm-3">
    {% for post in site.posts limit:10 %}
    <p><a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a></p>
    {% endfor %}
  </div>
</div>

<div class="row row-post">
  <div class="cols-md-1">
    <section>
      {% for post in site.categories.js limit:1 offset:0 %}
      <header>
        <span><a title="JS" href="{{ site.baseurl }}/categories/js.html">JS</a></span>
        <h1><a  title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a class="post-link" title=" title="{{ post.title }}"" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.js limit:4 offset:1 %}
        <li><a class="post-link"  title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.css limit:1 offset:0 %}
      <header>
        <span><a title="CSS" href="{{ site.baseurl }}/categories/css.html">CSS</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a  title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.css limit:4 offset:1 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.html limit:1 offset:0 %}
      <header>
        <span><a title="HTML" href="{{ site.baseurl }}/categories/html.html">HTML</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.html limit:4 offset:0 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.others limit:1 offset:0 %}
      <header>
        <span><a title="其它技术" href="{{ site.baseurl }}/categories/others.html">其它</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
    </section>
    <ul>
        {% for post in site.categories.others limit:4 offset:1 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
  </div>

</div>


<div class="row row-recommend">
  <div></div>
  <div>
    {% for post in site.tags.tips limit:2 %}
    <div class="cols-md-2">
      <section>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p>
          {{ post.content | strip_html | truncate: 100, "..."  }}
        </p>
      </section>
    </div>
    {% endfor %}
  </div>
</div>
