---
layout: default
---

<div class="slider">
  <div class="slider-img">
    <img src="images/slider-1.jpg" alt="">
    <img src="images/slider-2.jpg" alt="">
    <img src="images/slider-3.jpg" alt="">
  </div>
  <div class="slider-msg">
    <div>比我聪明的人还在努力，我他妈努力还有什么用！</div>
    <div>希望你们能用功读书，不要像我只能靠脸混吃混喝</div>
    <div>为了让你周六能笑笑，周三就要给你讲那个笑话。</div>
  </div>
</div>


<div class="row row-intro">
  <div class="cols-sm-2 txt-right">
    <p>人生若只如初见，何事秋风悲画扇？
    <p>等闲变却故人心，却道故人心易变。
    <p>骊山语罢清宵半，泪雨霖铃终不怨。
    <p>何如薄幸锦衣郎，比翼连枝当日愿。
  </div>
  <div class="cols-sm-4">
    {% for post in site.posts limit:6 %}
    <p><a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
    {% endfor %}
  </div>
</div>

<div class="row row-post">
  <div class="cols-md-1">
    <section>
      {% for post in site.categories.js limit:1 offset:0 %}
      <header>
        <span><a title="JS" href="{{ site.baseurl }}/categories/js.html">JS</a></span>
        <h1><a  title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a class="post-link" title=" title="{{ post.title }}"" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.js limit:4 offset:1 %}
        <li><a class="post-link"  title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.css limit:1 offset:0 %}
      <header>
        <span><a title="CSS" href="{{ site.baseurl }}/categories/css.html">CSS</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a  title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.css limit:4 offset:1 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.html limit:1 offset:0 %}
      <header>
        <span><a title="HTML" href="{{ site.baseurl }}/categories/html.html">HTML</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
      <ul>
        {% for post in site.categories.html limit:4 offset:0 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="cols-md-1">
    <section>
      {% for post in site.categories.others limit:1 offset:0 %}
      <header>
        <span><a title="其它技术" href="{{ site.baseurl }}/categories/others.html">其它</a></span>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <p class="excerpt">
        {{ post.content | strip_html | truncate: 100, "..." }}
      </p>
      <p class="read-more"><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">more→</a></p>
      {% endfor %}
    </section>
    <ul>
        {% for post in site.categories.others limit:4 offset:1 %}
        <li><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
  </div>

</div>


<div class="row row-recommend">
  <div></div>
  <div>
    {% for post in site.tags.tips limit:2 %}
    <div class="cols-md-2">
      <section>
        <h1><a title="{{ post.title }}" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p>
          {{ post.content | strip_html | truncate: 100, "..."  }}
        </p>
      </section>
    </div>
    {% endfor %}
  </div>
</div>
