<footer>
  <div class="row" id="footer">
    <div class="cols-md-1">

    </div>
    <div class="cols-md-1">
      <aside>
        <h1>About Me</h1>
        <div>
          <ul>
            <li>{% include icon-github.html username=site.github_username %}</li>
            <li>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
            <li><a href="{{ "/about" | prepend: site.baseurl }}">me</a></li>
            <li></li>
          </ul>
        </div>
    </div>
    <div class="cols-md-1">
      <aside>
        <h1>Favorite Links</h1>
        <div>
          <ul>
            <li><a href="http://jandan.net/">煎蛋</a></li>
            <li><a href="https://movie.douban.com/">豆瓣电影</a></li>
            <li><a href="http://radio.weibo.com/china/fm887">HitFM</a></li>
          </ul>
        </div>
    </div>
    <div class="cols-md-1">
      <aside>
        <h1>Contact</h1>
        <div>
          <ul>
            <li><a href="mailto:wublue1234@126.com">wublue1234@126.com</a></li>
            <li>QQ: 119066381</li>
            <li>北京, 中国</li>
          </ul>
        </div>
    </div>
  </div>
</footer>

