<footer>
  <div class="row" id="footer">
    <div class="cols-md-1">

    </div>
    <div class="cols-md-1">
      <aside>
        <h1>About Us</h1>
        <div>
          <ul>
            <li>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
            <li>About Us</li>
            <li>Our Blog</li>
            <li>Contacts</li>
          </ul>
        </div>
    </div>
    <div class="cols-md-1">
      <aside>
        <h1>About Us</h1>
        <div>
          <ul>
            <li>Our company</li>
            <li>About Us</li>
            <li>Our Blog</li>
            <li>Contacts</li>
          </ul>
        </div>
    </div>
    <div class="cols-md-1">
      <aside>
        <h1>About Us</h1>
        <div>
          <ul>
            <li>Our company</li>
            <li>About Us</li>
            <li>Our Blog</li>
            <li>Contacts</li>
          </ul>
        </div>
    </div>
  </div>
</footer>