<header id="header">
  <nav class="nav-bar">
    <a class="nav-title" href="">4nix</a>
    <ul class="nav-list">
      <li><a href="{{ site.baseurl }}/" title="首页">首页</a></li>
      <li><a href="{{ site.baseurl }}/categories/js.html" title="JS">JS</a></li>
      <li><a href="{{ site.baseurl }}/categories/css.html" title="CSS">CSS</a></li>
      <li><a href="{{ site.baseurl }}/categories/html.html" title="HTML">HTML</a></li>
      <li><a href="{{ site.baseurl }}/categories/others.html" title="其他技术">其他技术</a></li>
    </ul>
  </nav>
</header>
